.MobileMenu {
  position: fixed;
  // top: calc(var(--screen-height) - 54px);
  height: 5.4rem;
  bottom: 0;
  left: 0;
  right: 0;
  // width: var(--screen-width);
  
  z-index: 250;
  
  display: flex;
  border-top: 1px solid var(--color-border);
  // box-shadow: 0 0 0 2px yellow;

  @media (min-resolution: 2dppx) {
    border-top: .5px solid var(--color-border);
    
  }
  @media (min-resolution: 3dppx) {
    border-top: .33333px solid var(--color-border);
    
  }
  @media (min-resolution: 4dppx) {
    border-top: .25px solid var(--color-border);
    
  }
  & .setting {
    color: var(--color-text-grey);
    background-color: var(--color-back-mobile);
    height: 100%;
    border: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & p {
      font-size: var(--small-text-font-size);
      margin-bottom: .5rem;
    }

    & svg {
      height: var(--normal-text-font-size);
      width: var(--normal-text-font-size);
      fill: var(--color-text-grey);
      transform: scale(1.5);
      flex: 1
    }

    &.active {
      // background-color: var(--color-primary);
      color: var(--color-mobile-menu);
      & svg {
        fill: var(--color-mobile-menu);
      }
    }

  }
}