.DataCircle {
  flex: 1 1 50%;
  position: relative;
  height: var(--circle-dimension-small);
  width: var(--circle-dimension-small);
  border: none;

  border-radius: 50%;
  margin: 1rem auto;
  overflow: hidden;

  &::before {
    content: '';
    height: var(--circle-dimension-small);
    width: var(--circle-dimension-small);
    position: absolute;
    transform-origin: 0% 50%;
    z-index: 9;
  }

  &::after {
    content: '';
    height: var(--circle-dimension-small);
    width: var(--circle-dimension-small);
    position: absolute;
    transform-origin: 100% 50%;
    z-index: 8;
  }

  &.humidity {
    &::before {
      transform: translate(50%, 0%) rotate(var(--s-right-rotate1));
      background-color: var(--s-right-color1);
    }

    &::after {
      transform: translate(-50%, 0%) rotate(var(--s-left-rotate1));
      background-color: var(--s-left-color1);
    }
  }
  &.precipProb {
    &::before {
      transform: translate(50%, 0%) rotate(var(--s-right-rotate2));
      background-color: var(--s-right-color2);
    }

    &::after {
      transform: translate(-50%, 0%) rotate(var(--s-left-rotate2));
      background-color: var(--s-left-color2);
    }
  }
  &.cloudCov {
    &::before {
      transform: translate(50%, 0%) rotate(var(--s-right-rotate3));
      background-color: var(--s-right-color3);
    }

    &::after {
      transform: translate(-50%, 0%) rotate(var(--s-left-rotate3));
      background-color: var(--s-left-color3);
    }
  }


  @media only screen and (min-width: 769px) {

    &,
    &::before,
    &::after {
      height: var(--circle-dimension);
      width: var(--circle-dimension);
      // font-size: var(--normal-text-font-size);
    }
  }
}
.dataColor {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--circle-dimension-small);
  width: var(--circle-dimension-small);
  background: var(--color-primary-offset);
  border: 0px solid var(--color-back);
  border-radius: 50%;
  z-index: 7;

  @media only screen and (min-width: 769px) {
    & {
      height: var(--circle-dimension);
      width: var(--circle-dimension);
    }
  }
}

.dataContainer {
  font-size: var(--normal-text-font-size);
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 50;

  @media only screen and (min-width: 769px) {
    font-size: var(--big-text-font-size);
  }

  & span {
    display: block;
  }

  & .bigArrow {
    margin-bottom: 1rem;
  }

  & svg {

    height: var(--head-font-size);
    width: var(--head-font-size);
    transform: scale(1.5);
    fill: var(--color-secondary-graph);
  }
}

.dataFront {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 45;
  width: 13rem;
  height: 13rem;
  background-color: var(--color-back);
  border: 1px solid transparent;
  border-radius: 50%;

  @media only screen and (min-width: 769px) {
    width: 16rem;
    height: 16rem;
  }
}
