.Summary {
  font-size: var(--big-text-font-size);
  margin: 1.5rem 2rem;
  text-align: center;
  font-weight: 400;
  flex: 1;
  @media only screen and (min-width: 768px) {
    flex: 0 0 100%;
    font-size: var(--small-head-font-size);
  }
}