.Daily {
  width: 90%;
  margin: 0 auto;

  @media only screen and (max-width: 500px) {
    width: 100%;
  }

  // & svg {
  //   margin:0 auto 0 -50px;
  //   overflow-x: scroll;
  // }
}

.Summary {
  font-size: 2.5rem;
  // font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}