.Daily {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.Summary {
  font-size: 2.5rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.chartContainer {
  overflow: hidden;
  // background-color: var(--color-back);
  @media only screen and (max-width: 576px) {
    margin: 0 -1.2rem 0 -3.6rem;
    font-size: calc(var(--normal-text-font-size) - 3px);
  }
}

