.DataCircle {

  position: relative;
  height: 20rem;
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 1rem auto;

  & .dataContainer {
    font-size: var(--big-text-font-size);
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 5;


    & span {
      display: block;
    }

    & .bigArrow {
      margin-bottom: 1rem;
    }

    & svg {

      height: var(--head-font-size);
      width: var(--head-font-size);
      transform: scale(1.5);
      fill: #1e3a6f;
    }
  }

  & .dataFront {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 16rem;
    height: 16rem;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
  }

}

// .arrow {
//   width: 100%;
//   height: 100%;
//   display: block;
//   position: absolute;
//   top: 0;

//   &:after {
//     content: "";
//     width: 0;
//     height: 0;
//     border-left: 5px solid transparent;
//     border-right: 5px solid transparent;
//     border-bottom: 10px solid red;
//     position: absolute;
//     top: -6px;
//     left: 50%;
//     margin-left: -5px;
//     z-index: 99;
//   }
// }