.Current {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0;
  list-style: none;

}

.element {
  font-size: 2rem;
  flex: 0 0 33.3333%;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;

  & span {
    font-weight: 300;
    padding-left: 2px;
  }

  @media only screen and (max-width: 960px) {
    & {
      flex: 0 0 50%;
    }
  }
  @media only screen and (max-width: 630px) {
    & {
      flex: 0 0 90%;
      margin: 0 auto;
    }
  }
}