.Current {
  display: flex;
  flex-wrap: wrap;
  margin: 2.5rem 0;
  list-style: none;

}

.element {
  font-size: var(--normal-text-font-size);

  margin: 0 auto;
  flex: 0 0 95%;
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-between;

  & span {
    font-weight: 300;
    padding-left: 2px;
  }


  @media only screen and (min-width: 630px) {
    & {
      margin: 0;
      flex: 0 0 50%;
      font-size: var(--medium-text-font-size);
    }
  }

  @media only screen and (min-width: 960px) {
    & {
      flex: 0 0 33.3333%;
    }
  }
}