.container {
  flex: 1;
  overflow: hidden;
}

.Search {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  box-shadow: 2px 1px 10px -1px var(--color-box-shadow);
  border-radius: 7px;
  margin: 2.5rem 0.5rem;
  background-color: var(--color-grey-3);
}

.button {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  & span {
    color: var(--color-grey-1);
  }
}

.form {
  flex: 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1rem;
  position: relative;
  box-shadow: 0px 0px 10px -3px var(--color-box-shadow);

  & .input {
    line-height: normal;
    box-sizing: inherit;
    flex: 1;
    padding: 1rem 0 1rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: var(--big-text-font-size);
    box-shadow: 2px 1px 3px -2px var(--color-box-shadow);

    background: var(--color-back2);
    outline: none;

    &:focus {
      border-bottom: 1px solid var(--color-text-secondary);
    }

    &::placeholder {
      color: var(--color-text-transparent);
    }
  }

  & .formButton {
    position: absolute;
    
    right: 1px;
    padding: .6rem .8rem .6rem 1rem;
    background: var(--color-back2);
    z-index: 110;
    border-left: 1px solid var(--color-text-secondary);
    font-size: 10px;

    & svg {
      height: var(--big-text-font-size);
      width: var(--big-text-font-size);
      fill: var(--color-primary-offset);
      transform: scale(1.2);
    }
  }
}


.buttonGeo {
  padding: 1rem 1rem;
  margin: 1rem auto;

  & svg {
    height: var(--big-text-font-size);
    width: var(--big-text-font-size);
    fill: var(--color-primary);
    transform: scale(1.5);
  }

  & span {
    padding-top: 1rem;
  }
}