// .container {
//   display: flex;
//   /* flex-direction: column; */ 

//   & > * {
//     width: 100%;
//   }
// }
.App {
  color: var(--color-text-primary);
  background-color: var(--color-back);
}


.container {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  
}

.headerBar {
  width: 100%;
  background-color: var(--color-primary);
}


.footerContainer {
  padding-bottom: calc(var(--screen-height) / 10);
  // justify-content: center;

  @media only screen and (min-width: 577px) {
    padding-bottom: 2rem;
  } 
}