// .container {
//   display: flex;
//   /* flex-direction: column; */ 

//   & > * {
//     width: 100%;
//   }
// }
.App {
  color: var(--color-text-primary);
background-color: var(--color-back);

}

.bottomBar {
  position: fixed;
  // top: calc(var(--screen-height) - 54px);
  top: calc(100% - 54px);
  bottom: 0%;
  left: 0%;
  width: var(--screen-width);
  background-color: yellow;
  z-index: 250;
  display: flex;
  
  // justify-content: space-between;
  & .setting {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & p {
      font-size: var(--small-text-font-size);
      margin-bottom: .5rem;
    }

    & svg {
      height: var(--normal-text-font-size);
      width: var(--normal-text-font-size);
      fill: var(--color-text-secondary);
      transform: scale(1.5);
      flex: 1
    }

    &.active {
      background-color: aquamarine;
      & svg {
        fill: var(--color-text-primary);
      }
    }

  }
}

// .backdrop {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 22;
//   background-color: rgba(1,1,1,.8);
// }

.container {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;

  
}

.headerBar {
  width: 100%;
  background-color: var(--color-primary);

}


.footerContainer {
  padding-bottom: calc(var(--screen-height) / 10);
  // justify-content: center;

  @media only screen and (min-width: 577px) {
    padding-bottom: 2rem;
  } 
}