.head {
  // height: 150px;
  font-size: var(--head-font-size);
  & svg {
    height: var(--head-font-size);
    width: var(--head-font-size);
    transform: scale(2);
    vertical-align: middle;
  }
}